<hr>
<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <p class="text-center"><small>Company © {{CurrentDate | date:'yyyy'}} | Application Name</small></p>
        </div>
    </md-content>
</div>