<md-nav-bar md-selected-nav-item="currentNavItem">
    <md-nav-item md-nav-sref="main.home" name="Home">Home</md-nav-item>
    <md-nav-item md-nav-sref="main.about" name="About">About</md-nav-item>
    <md-nav-item md-nav-sref="main.contact" name="Contact">Contact</md-nav-item>
</md-nav-bar>